* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #1D1C34;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4CB4F6;
  --color-light: rgba(255, 255, 255, 0.6)
}

body {
  background: var(--color-bg);
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 1.7;
  background-image: url(../public/images/bg-texture.png);
}

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);

}

.color-bg {
  color: var(--color-bg);

}

.bg {
  background-color: var(--color-bg);

}

.p-7 {
  padding-top: 2rem
}

.text-fade {
  color: var(--color-light)
}

.main {
  height: 100vh;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 25vw;
  height: 70vh;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.social {
  position: absolute;
  top: 75vh;
  left: 10vw;
  z-index: 10;
}

.line {
  height: 1rem;
  width: 1px;
  background-color: var(--color-primary);
}

.social div>div {
  margin: 0.5rem;
  font-size: 1rem;

}

.btn-out {
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: solid var(--color-primary) 1px;
  background-color: transparent;
}

.btn-out:hover {
  background-color: white;
  transition: all ease-in 0.3s;
}

.btnn {
  padding: 0.75rem 1.2rem;
  border: solid var(--color-primary) 1px;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btnn:hover {
  background-color: white;
  transition: all ease-in 0.3s;
}


.btn-out-sm {
  color: var(--color-primary);
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: solid var(--color-primary) 1px;
  background-color: transparent;
}

.btn-out-sm:hover {
  background-color: white;
  transition: all ease-in 0.3s;
}

.btnn-sm {
  padding: 0.5rem 0.75rem;
  border: solid var(--color-primary) 1px;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btnn-sm:hover {
  background-color: white;
  transition: all ease-in 0.3s;
}


.exp-card {
  /* width: 40vw; */
  height: 90%;
  border-radius: 20px;
  padding: 2rem;
  background-color: var(--color-bg-variant);
}

.portfolio-card {
  background-color: var(--color-bg-variant);
  border-radius: 15px;

}

.port-img {
  border-radius: 15px;
}

.form-border {
  border: var(--color-primary) solid 1px;
}

.subfooter {
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-bg)
}


.padding {
  padding: 3rem 3rem 0 3rem;
}

.marginn {
  margin: 3rem 1rem 0 1rem;
}

.space {
  margin: 3rem;
}

.mleft-3 {
  margin-left: 1rem;
}

.small-font {
  font-size: 0.8rem;
}

.card-padding {
  padding: 1rem;
}

@media screen and (max-width: 525px) {

  .padding {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  .marginn {
    margin: 2.5rem 1rem 0 1rem;
  }

  .space {
    margin: 0.7rem;
  }

  .mleft-3 {
    margin-left: 0.5rem;
  }

  h2 {
    font-size: 1.5rem
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  .me {
    width: 65vw;
    height: 60vh;
  }

  .portfolio-card {
    margin-bottom: 1.5rem;
  }



}

@media screen and (max-width: 361px) {

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-device-width: 600px) and (max-width: 991px) {
  .padding {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  .marginn {
    margin: 2.5rem 1rem 0 1rem;
  }

  .space {
    margin: 0.7rem;
  }

  .mleft-3 {
    margin-left: 0.5rem;
  }

  h2 {
    font-size: 1.5rem
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
    white-space: nowrap;
  }

  h6 {
    font-size: 0.8rem;
  }

  .me {
    width: 35vw;
    height: 60vh;
  }

  .portfolio-card {
    margin-bottom: 1.5rem;
  }


  .btn-out-sm {
    padding: 0.25rem 0.5rem;
  }

  .btnn-sm {
    padding: 0.25rem 0.5rem;
  }

  .small-font {
    font-size: 0.5rem;
  }

  .card-padding {
    padding: 0.7rem;
  }
}